[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://ed94e652b5c7467a72640ab0735a11d1f52e8698@github.com/jspahrsummers/xcconfigs.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://ed94e652b5c7467a72640ab0735a11d1f52e8698@github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = https://ed94e652b5c7467a72640ab0735a11d1f52e8698@github.com/Quick/Quick.git
[submodule "Carthage/Checkouts/Swinject"]
	path = Carthage/Checkouts/Swinject
	url = https://ed94e652b5c7467a72640ab0735a11d1f52e8698@github.com/Swinject/Swinject.git
